html
{
	font-family: 'Liberation Serif', 'Times', 'serif';
	font-size: 1em;
}

body
{
	line-height: 1.4;
	padding: 1em;
	margin: auto;
	min-width: 50em;
	max-width: 60em;
	background: #ffffff;
	color:#000000;
}

h1,h2,h3
{
line-height:1.2
}

a
{
	color: #00007f;
}

dt
{
	float: left;
	clear: left;
	width: 8em;
}

dd
{
	margin: 0 0 0 8.5em;
	padding: 0 0 0.5em 0;
}
